nav{
    background-color: black;
}

a:hover {
    color: white;
    cursor: pointer;
}

.nav-item:hover {
    border-bottom: 4px solid white;
}

nav {
    padding: 0.2em 2em 0;
}

li.nav-item a.nav-link {
    color: white;
    font-size: 20px;
}