<footer class="container row w-100 mx-auto">
    <div class="item-1 col-4">
        <img src="../../assets/images/logo.png" alt="Find me" style="height: 50px; width: 90px">
    </div>

    <div class="item-2 col-8">
        <form class="form-group" [formGroup]="formulaire" (ngSubmit)="send()">
            <div class="mb-1">
                <input class="form-control" 
                       [ngClass]="{'has-danger': email.invalid && (email.touched || email.dirty),
                                   'has-success': email.valid && (email.touched || email.dirty)}" 
                       type="text" placeholder="Entrez votre adresse mail" 
                       formControlName="email">
            </div>
            <div class="mb-1">
                <textarea class="form-control" 
                          [ngClass]="{'has-danger': message.invalid && (message.touched || message.dirty),
                                      'has-success': message.valid && (message.touched || message.dirty)}" 
                          placeholder="Ecrivez votre message" 
                          formControlName="message"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-light">Envoyer</button>
        </form>
    </div>
</footer>