<div class="container" *ngIf="(connectedUser$ | async) as user">
    <h3 class="text-white mb-4 text-center">@{{user.username}}</h3>
    <div class="card-container">
      <div class="card">
        <div class="front">
          <div class="cover">
              <img src="assets/images/degrade.png">
          </div>
          <div class="user">
              <img class="img-circle" src="">
          </div>
          <div class="content">
            <div class="main">
                <h3 class="name">{{user.lastname}} {{user.firstname}}</h3>
                <p class="text-center">{{user.description}}</p>
            </div>
            <div class="footer">
                <i class="fa fa-mail-forward"></i> Auto Rotation
            </div>
          </div>
        </div>
          <!-- end front panel -->
        <div class="back">
          <div class="header">
              <h5 class="motto">Vanité des vanités, dit l’Ecclésiaste, tout est vanité ! </h5>
          </div>
          <div class="content">
            <div class="main">
              <p class="text-center">{{user.age}}</p>
              <div class="stats-container">
                <div class="container"></div>
                  <div class="d-flex flex-column align-items-center overflow-auto" style="max-height: 200px; box-sizing: border-box;">

                      <div style="display: flex; align-items: baseline;" *ngIf="user.reseaux as reseau">
                        <i style="align-self: flex-start; margin-top: 5px;" class="fab fa-facebook-square facebook fa-lg fa-fw"></i>
                        <p *ngIf="!reseau.facebook.reseau" style="font-size: 85%; font-style: italic; color: red;">réseau non renseingné</p>
                        <p *ngIf="reseau.facebook.reseau" style="align-self: center;" >{{reseau.facebook.reseau}}</p>
                      </div>

                      <div style="display: flex; align-items: baseline;" *ngIf="user.reseaux as reseau">
                        <i style="align-self: flex-start; margin-top: 5px;" class="fab fa-instagram-square instagram fa-lg fa-fw"></i>
                        <p *ngIf="!reseau.instagram.reseau" style="font-size: 85%; font-style: italic; color: red;">réseau non renseingné</p>
                        <p *ngIf="reseau.instagram.reseau" style="align-self: center;" >{{reseau.instagram.reseau}}</p>
                      </div>

                      <div style="display: flex; align-items: baseline;" *ngIf="user.reseaux as reseau">
                        <i style="align-self: flex-start; margin-top: 5px;" class="fas fa-envelope-square fa-lg fa-fw"></i>
                        <p *ngIf="!reseau.mail.reseau" style="font-size: 85%; font-style: italic; color: red;">réseau non renseingné</p>
                        <p *ngIf="reseau.mail.reseau" style="align-self: center;" >{{reseau.mail.reseau}}</p>
                      </div>

                      <div style="display: flex; align-items: baseline;" *ngIf="user.reseaux as reseau">
                        <i style="align-self: flex-start; margin-top: 5px;" class="fab fa-snapchat-square snapchat facebook fa-lg fa-fw"></i>
                        <p *ngIf="!reseau.snapchat.reseau" style="font-size: 85%; font-style: italic; color: red;">réseau non renseingné</p>
                        <p *ngIf="reseau.snapchat.reseau" style="align-self: center;" >{{reseau.snapchat.reseau}}</p>
                      </div>

                      <div style="display: flex; align-items: baseline;" *ngIf="user.reseaux as reseau">
                        <i style="align-self: flex-start; margin-top: 5px;" class="fab fa-twitter-square twitter fa-lg fa-fw"></i>
                        <p *ngIf="!reseau.twitter.reseau" style="font-size: 85%; font-style: italic; color: red;">réseau non renseingné</p>
                        <p *ngIf="reseau.twitter.reseau" style="align-self: center;" >{{reseau.twitter.reseau}}</p>
                      </div>

                      <div style="display: flex; align-items: baseline;" *ngIf="user.reseaux as reseau">
                        <i style="align-self: flex-start; margin-top: 5px;" class="fab fa-youtube-square youtube fa-lg fa-fw"></i>
                        <p *ngIf="!reseau.youtube.reseau" style="font-size: 85%; font-style: italic; color: red;">réseau non renseingné</p>
                        <p *ngIf="reseau.youtube.reseau" style="align-self: center;" >{{reseau.youtube.reseau}}</p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="footer">
            <div style="display: flex; justify-content: center;">
                <a class="btn btn-primary" routerLink="/detail/{{user.id}}" routerLinkActive="router-link-active">Editer</a>
            </div>
          </div>
        </div>
          <!-- end back panel -->
      </div>
        <!-- end card -->
    </div>
    <!-- end card-container -->
</div>

<div class="d-flex justify-content-center" *ngIf="!(connectedUser$ | async)">
  <div class="spinner-border text-light " style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<!-- <i style="align-self: flex-start; margin-top: 5px;" class="fab fa-lg fa-fw" [ngClass]="{
                          'fa-facebook-square facebook': reseau.value === 'Facebook',
                          'fa-instagram-square instagram': reseau.value === 'Instagram',
                          'fas fa-envelope-square': reseau.value === 'Mail' ,
                          'fa-snapchat-square snapchat': reseau.value === 'Snapchat' ,
                          'fa-twitter-square twitter': reseau.value === 'Twitter' ,
                          'fa-youtube-square youtube': reseau.value === 'Youtube'}" aria-hidden="true">
                        </i> -->
