section {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    section {
        display: flex;
        width: 100%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    .other {
        order: 1;
    }
}