section {
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

h3 {
    font-size: 1.4rem;
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: bold;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    background-color: #646363;
    width: 80%;
    padding: 5px;
    border-radius: 25px;
    max-height: 100%;
    flex-wrap: nowrap;
    max-width: 100%;
}

form {
    align-self: center;
    margin-top: 10px;
}

.search-div {
    display: flex;
    flex-direction: row;
}

.form-control {
    width: 250px;
    height: 25px;
    border-radius: 15px;
}

.logoSearch {
    margin-left: 10px;
}

.list-container {
    margin-top: 20px;
    height: 300px;
}

.users-list {
    display: flex;
    flex-direction: column;
}

img {
    width: 50px;
    height: 50px;
}

.other-profil-username {
    font-style: italic;
    font-weight: bold;
    font-family: 'Droid Serif';
    align-self: center;
    font-size: 75%;
    white-space: nowrap;
}

.other-profil-link {
    font-style: italic;
    font-weight: bold;
    font-family: 'Droid Serif';
    align-self: flex-end;
    margin-bottom: 0px;
    margin-right: 5px;
    font-size: 75%;
    text-overflow: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    color: blue;
    cursor: pointer;
}

a:hover {
    border-bottom: blue;
}

@media only screen and (max-width: 767px) {
    section {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }

    h3 {
        font-size: 19px;
        font-family: 'Droid Serif';
        font-style: italic;
        font-weight: bold;
    }

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        background-color: #646363;
        width: 100%;
        padding: 5px;
        border-radius: 25px;
        max-height: 100%;
        flex-wrap: nowrap;
    }
}