<section class="container" *ngIf="(users$ | async)">
    <div class="row" style="margin: 20px 0;">
        <div class="col-md">
            <app-users-list [users]="users$" (showUserProfil)="showUser($event)" (selectedUser)='selectUser($event)'></app-users-list>
            <hr class="d-md-none bg-light">
        </div>

        <div class="col-md">
            <app-signed-user *ngIf="!userProfilShown"></app-signed-user>
            <app-user-profil (showUserProfil)="emittedClose($event)" [user]='selectedUser'  *ngIf="userProfilShown"></app-user-profil>
        </div>
    </div>
</section>

<div class="d-flex justify-content-center align-items-center text-white" *ngIf="!(users$ | async)" style="height: 100vh;">
  <p>patientez...</p>
</div>

