.inscrip-title {
    font-family: "Droid Serif";
    font-weight: bold;
    font-style: italic;
    color: #e0e0e0;
    font-size: 26px;
}

.img-path {
    display: flex;
    background-color: black;
    opacity: 0.65;
    width: 70px;
    height: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.has-danger,
.invalid-danger {
    border: 1px solid red;
    border-radius: 5px;
}

.has-success {
    border: 1px solid green;
    border-radius: 5px;
}

span.form-text {
    margin-top: -25px;
    font-size: 12px;
}

.buttonStyle {
    background-color: #c6c6c6;
    padding-top: 0px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Lato';
}

input::placeholder {
    color: #3f151541;
    font-style: italic;
}

div.content {
    display: flex;;
    flex-direction: column;
    align-items: center;
    margin: 4.5em 0;
}

form div.form-group {
    margin: 1.5em 0;
}

form.inscript {
    width: 195px;
}